/* Universal selector */
/* * {
    
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

/* Element selector or type selector */

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h2 {
    font-weight: 700;
    color: blue;
}

img {
    height: 300px;
    width: 400px;
    vertical-align:text-top;
}

/* Class selector */

.para1 {
    color: blueviolet;
    background-color: chartreuse;
    font-size: 16px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    border: 2px solid;
    padding: 10px;
}

/* chain Selector */

.grp1 {
    font-weight: 900;
    font-family: monospace;
}

.grp2 {
    color: chartreuse;
    font-size: 40px;
}

/* group selector */

h1, h3 {
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#deko {
    list-style: square;
    background-color: blueviolet;
}

/* chain Selector */

.sughead.fura {
    font-weight: bolder;
    background-color: chocolate;
    color: wheat;
}

.fafu#dadu {
    color: darkgreen;
    background-color: darkgrey;
}

.latha {
    color: rgb(255, 8, 8);
}

.partha {
    color: rgb(17, 0, 255);
}

.container {
    display: inline-block;
    background-color: brown;
    color: white;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    
}

.joora {
    background-color: yellow;
}